In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [11]:
#3
ords_prods_comb= pd.read_pickle(r'/Users/nayeraibrahim/Documents/CF assignments/Python/27-10-2020 Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')
prods = pd.read_csv(r'/Users/nayeraibrahim/Documents/CF assignments/Python/27-10-2020 Instacart Basket Analysis/02 Data/Prepared Data/CHECKED_PRODS.csv')

In [9]:
#4
ords_prods_comb.shape

(32434489, 11)

In [13]:
ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [12]:
prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
prods.shape

(49677, 6)

In [23]:
#5
pd.merge(ords_prods_comb, prods, on ='product_id',how='outer', indicator = '_merge2')

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge2
0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,196,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,prior,2.0,3.0,7.0,15.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,prior,3.0,3.0,12.0,21.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,prior,4.0,4.0,7.0,29.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,prior,5.0,4.0,15.0,28.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32436247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37703,NaN,NaN,NaN,37707.0,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75.0,17.0,14.3,right_only
32436248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43725,NaN,NaN,NaN,43729.0,Sweetart Jelly Beans,100.0,21.0,8.1,right_only
32436249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45971,NaN,NaN,NaN,45975.0,12 Inch Taper Candle White,101.0,17.0,9.8,right_only
32436250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46625,NaN,NaN,NaN,46629.0,Single Barrel Kentucky Straight Bourbon Whiskey,31.0,7.0,1.7,right_only
32436251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49540,NaN,NaN,NaN,49544.0,Pure Squeezed Lemonade,31.0,7.0,9.1,right_only

In [25]:
#6
orders_products_merged = ords_prods_comb.merge(prods, on = 'product_id', how = 'outer', indicator='_merge2')
orders_products_merged

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge2
0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,196,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,prior,2.0,3.0,7.0,15.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,prior,3.0,3.0,12.0,21.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,prior,4.0,4.0,7.0,29.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,prior,5.0,4.0,15.0,28.0,196,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32436247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37703,NaN,NaN,NaN,37707.0,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75.0,17.0,14.3,right_only
32436248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43725,NaN,NaN,NaN,43729.0,Sweetart Jelly Beans,100.0,21.0,8.1,right_only
32436249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45971,NaN,NaN,NaN,45975.0,12 Inch Taper Candle White,101.0,17.0,9.8,right_only
32436250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46625,NaN,NaN,NaN,46629.0,Single Barrel Kentucky Straight Bourbon Whiskey,31.0,7.0,1.7,right_only
32436251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49540,NaN,NaN,NaN,49544.0,Pure Squeezed Lemonade,31.0,7.0,9.1,right_only

In [27]:
#7
orders_products_merged.to_pickle(r'/Users/nayeraibrahim/Documents/CF assignments/Python/27-10-2020 Instacart Basket Analysis/02 Data/Prepared Data/ orders_products_merged.pkl')