#  importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing dataframe

In [9]:
customer_df = pd.read_csv(r'/Users/nayeraibrahim/Documents/CF assignments/Python/27-10-2020 Instacart Basket Analysis/02 Data/Original Data/customers.csv', index_col = False)

In [11]:
customer_df.head(1)

,user_id,First Name,Surnam,Gender,State,Age,date_joined,Number_of_dependants,Familial_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

# Data Wrangling: changing column name

In [10]:
# The following columns will be renamed: Surnam, STATE, n_dependants, fam_status to 
# Surname, State, Number_of_dependants, Familial_statuscustomer_df.rename(columns = {'Surnam' : 'Surname'}, inplace = True)
customer_df.rename(columns = {'STATE' : 'State'}, inplace = True)
customer_df.rename(columns = {'n_dependants' : 'Number_of_dependants'}, inplace = True)
customer_df.rename(columns = {'fam_status' : 'Familial_status'}, inplace = True)

In [12]:
customer_df.head(1)

,user_id,First Name,Surnam,Gender,State,Age,date_joined,Number_of_dependants,Familial_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

In [13]:
#checking data types. All is correct
customer_df.dtypes

user_id                  int64
First Name              object
Surnam                  object
Gender                  object
State                   object
Age                      int64
date_joined             object
Number_of_dependants     int64
Familial_status         object
income                   int64
dtype: object

# consistency checks

In [14]:
#checking data statistics: everything looks consistent 
customer_df.describe()

             user_id            Age  Number_of_dependants         income
count  206209.000000  206209.000000         206209.000000  206209.000000
mean   103105.000000      49.501646              1.499823   94632.852548
std     59527.555167      18.480962              1.118433   42473.786988
min         1.000000      18.000000              0.000000   25903.000000
25%     51553.000000      33.000000              0.000000   59874.000000
50%    103105.000000      49.000000              1.000000   93547.000000
75%    154657.000000      66.000000              3.000000  124244.000000
max    206209.000000      81.000000              3.000000  593901.000000

In [15]:
#checking for mixed-type columns: first name column is mixed type
for col in customer_df.columns.tolist():
  weird = (customer_df[[col]].applymap(type) != customer_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customer_df[weird]) > 0:
    print (col)

First Name

In [19]:
#changing first name column to string
customer_df['First Name'] = customer_df['First Name'].astype('str')

In [20]:
#finding missing values: no null values
customer_df.isnull().sum()

user_id                 0
First Name              0
Surnam                  0
Gender                  0
State                   0
Age                     0
date_joined             0
Number_of_dependants    0
Familial_status         0
income                  0
dtype: int64

In [21]:
#finding duplicate data: no duplicates found
customer_df_duplicates = customer_df[customer_df.duplicated()]
customer_df_duplicates

Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, State, Age, date_joined, Number_of_dependants, Familial_status, income]
Index: []

In [ ]:
# Combining with other instacart data

In [23]:
#importing ords_prods_merged_flagged
ords_prods_m_f = pd.read_pickle(r'/Users/nayeraibrahim/Documents/CF assignments/Python/27-10-2020 Instacart Basket Analysis/02 Data/Prepared Data/ orders_products_merged_flagged.pkl')

In [24]:
#checking data types
ords_prods_m_f.dtypes

order_id                   float64
user_id                    float64
eval_set                    object
order_number               float64
order_dow                  float64
order_hour_of_day          float64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order          float64
reordered                  float64
_merge                    category
Unnamed: 0                 float64
product_name                object
aisle_id                   float64
department_id              float64
prices                     float64
_merge2                   category
max_order                  float64
loyalty_flag                object
avg_price                  float64
spender_flag                object
cust_reg                   float64
frequent_flag               object
dtype: object

In [26]:
#changing user_id to float64
customer_df['user_id'] = customer_df['user_id'].astype('float64')

In [28]:
#test merge without overwriting
df_merged=ords_prods_m_f.merge(customer_df, on = ['user_id'], how = 'outer', indicator='True')

In [29]:
df_merged['True'].value_counts()

both          32436241
left_only           11
right_only           0
Name: True, dtype: int64

In [30]:
#exporting the merged file
df_merged.to_pickle(r'/Users/nayeraibrahim/Documents/CF assignments/Python/27-10-2020 Instacart Basket Analysis/02 Data/Prepared Data/customer_merged.pkl')